body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-position: center center;/* Centers the image */
    background-attachment: fixed;     
}

.doctors-wrapper {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: #d9d8d6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctors-header h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #222222;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #3a4c5a;
} 